<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Anak2U quiz app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
   <img src="https://media-exp1.licdn.com/dms/image/C510BAQFFKjwF5z7W3Q/company-logo_200_200/0/1546844932091?e=2159024400&v=beta&t=spfZyaDTeU3e5XAvZYdcIMOqDlr-XkX8u-1FLAeJKzU"/>
   <p> 
   <ion-button expand="full" routerLink="/student-info">Mula</ion-button>
   <ion-button expand="full" routerLink="/hi-score">High Score</ion-button>
  </p>
  </div>
</ion-content>
